#snake-field{
    display: inline-block;
}
#snake-new-game{
    width: 150px;
    padding: 15px;
    color: white;
    background-color: green;
    text-align: center;
    cursor: pointer;
}
.buttons{
    display: inline-block;
}
.wrap{
    margin: 30px auto 0;
    text-align: center;
}

.game-table{
    border-collapse: collapse;
    background-color: #373737;
}
td.game-table-cell{
    width:15px;
    height:15px;
    border: 1px dotted #9b9b9b;
}
.snake-unit{
    background-color: #82A53C;
}
.food-unit{
    background: url('food.png') no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}
.wall-unit{
    background: url('danger.png') no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
 }